html,
body,
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.app {
	position: relative;
	height: 100vh;
}

.room-navigation-container {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	bottom: 0;
	width: 100%;
	height: 68px;
	background-color: #3d0a56;
	z-index: 1000;
	overflow-x: auto;
	padding-left: 130px;
}

button {
	height: 40px;
	width: auto;
	border-radius: 8px;
	background-color: #573169;
	color: white;
	white-space: nowrap;
	cursor: pointer;
}

button:last-child {
	margin-right: 140px;
}

.hotspot-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	border-radius: 40%;
	top: -32px;
	left: -32px;
	height: 68px;
	width: 68px;
	z-index: 1000;
	cursor: help;
	white-space: wrap;
}

label {
	cursor: help;
	font-weight: 600;
}

.hotspot-info-container {
	background-color: white;
	border: solid 1px black;
	border-radius: 8px;
	width: 100px;
	font-weight: 500;
	padding: 10px;
	margin-top: 18px;
	margin-left: 18px;
	transition: transform 1.5s ease-in-out;
}
